.container{
    border: 1px solid var(--bg-color-4);
    border-radius: 3px;

    gap: 5px;


    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 100px;

    flex: 1 0 auto;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;

    gap: 5px;

    >*{
        width: 100%;
    }
}

.value{
    color: var(--bg-color-5);
}


.minmax{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    color: var(--bg-color-5);
}


.container.V{
    flex-direction: column;
    width: fit-content;

    .body{
        flex-direction: row;
        height: 100%;
        min-height: 0;
        width: fit-content;
    }

    .minmax{
        flex-direction: column;
        height: 100%;
    }
}





.slider {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 6px;
    border: var(--bg-color-4) 1px solid;
    background: var(--bg-color-3);
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    ;
    appearance: none;
    width: 8px;
    height: 20px;
    border-radius: 4px;
    background: var(--acc-color-3);
    box-shadow: 0px 0px 6px 10px rgba(25, 25, 25, 0.5);
    cursor: pointer;
}

.V.slider::-webkit-slider-thumb {
    width: 20px;
    height: 8px;
}

.slider::-moz-range-thumb {
    width: 8px;
    height: 20px;
    border-radius: 4px;
    background: var(--acc-color-3);
    box-shadow: 0px 0px 6px 10px rgba(25, 25, 25, 0.5);
    cursor: pointer;
    border: none;
}

.V.slider::-moz-range-thumb {
    width: 20px;
    height: 8px;
}

.slider::-moz-range-progress {
    background-color: var(--acc-color-2);
    width: 100%;
    height: 100%;
    border-radius: 6px;
}


.slider::-ms-fill-lower {
    background-color: var(--acc-color-2);
    width: 100%;
    border-radius: 6px;
}

.slider:not(.V) {
    height: 8px;
}

.slider.V {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 8px;
    vertical-align: bottom;
}