:root {
    /*COLORS*/
    --bg-color-1: rgb(15, 15, 15);
    --bg-color-1-rgb: 15, 15, 15;
    --bg-color-2: rgb(25, 25, 25);
    --bg-color-2-rgb: 25, 25, 25;
    --bg-color-3: rgb(50, 50, 50);
    --bg-color-3-rgb: 50, 50, 50;
    --bg-color-4: rgb(70, 70, 70);
    --bg-color-4-rgb: 70, 70, 70;
    --bg-color-5: rgb(150, 150, 150);
    --bg-color-5-rgb: 150, 150, 150;


    --acc-color-1: rgb(41, 64, 0);
    --acc-color-1-rgb: 41, 64, 0;
    --acc-color-2: rgb(80, 122, 0);
    --acc-color-2-rgb: 80, 122, 0;
    --acc-color-3: rgb(110, 170, 0);
    --acc-color-3-rgb: 110, 170, 0;
    --acc-color-4: rgb(154, 219, 0);
    --acc-color-4-rgb: 154, 219, 0;

    --err-color-2: rgb(125, 28, 11);
    --err-color-2-rgb: 125, 28, 11;
    --err-color-3: rgb(173, 39, 15);
    --err-color-3-rgb: 173, 39, 15;
    --err-color-4: rgb(220, 63, 25);
    --err-color-4-rgb: 220, 63, 25;

    --warn-color-2: rgb(171, 146, 33);
    --warn-color-2-rgb: 171, 146, 33;
    --warn-color-3: rgb(228, 194, 44);
    --warn-color-3-rgb: 228, 194, 44;
    --warn-color-4: rgb(255, 236, 70);
    --warn-color-4-rgb: 255, 236, 70;


    --text-color-light: rgb(252, 249, 247);
    --text-color-light-rgb: 252, 249, 247;
    --text-color-dark: rgb(28, 26, 25);
    --text-color-dark-rgb: 28, 26, 25;
    --border-width: 1px;
}