.container{
    border: var(--bg-color-4) 1px solid;
    border-radius: 3px;
    background: var(--bg-color-2);
    display: flex;
    flex-direction: column;

    max-width: 100%;
    max-height: 100%;

    --instance-color: var(--acc-color-2);
}
.header{
    background: var(--bg-color-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    border-bottom: var(--instance-color) 2px solid;

    padding: 3px;

    flex: 0 0 auto;

    gap: 5px;
}

.title{
    flex: 1 0 auto;
}

.drag-handle{
    cursor: grab;
}

.hotbarPanel{
    display: flex;
    justify-content: space-between;
    align-items: center;

    >* {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-color-2);
        border: var(--bg-color-4) 1px solid;
        border-radius: 4px;

        width: min-content;
        height: 30px;
        padding: 4px;
    }

    >*:not(:hover):not(:active):not(:last-child){
        border-right-color: transparent;
    }

    >*:first-child:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    >:last-child:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    >:not(:last-child):not(:first-child) {
        border-radius: 0;
    }

}

.apiValue{
    display: flex;
    gap: 2px;
}

.refreshButton{

}

.body{
    display: flex;
    flex-direction: column;
    position: relative;

    justify-content: start;
    align-items: center;

    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;


    >*:not(.popup_panel){
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}





.popup_panel{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    opacity: 1;

    transition: opacity 0.5s ease-in-out;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    
    width: 300px;

    --background-color: var(--bg-color-3);
    --border-color: var(--bg-color-4);

    >*{
        background: var(--background-color);
        border: 1px solid var(--border-color);
        border-bottom: 3px solid var(--border-color);
        border-top: none;

        transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
    }
    .close_text{
        text-align: center;
        padding: 3px;
    }
}

.popup_panel:has(.popup.warning){
    --background-color: var(--warn-color-2);
    --border-color: var(--warn-color-3);
}

.popup_panel:has(.popup.error){
    --background-color: var(--err-color-2);
    --border-color: var(--err-color-3);
}


.popup_panel.hidden{
    opacity: 0;
}

.popup{
    position: relative;
    text-align: left;

    flex: 1 1 auto;
    min-width: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    
    
    padding: 5px;

    >*{
        flex: 1 1 auto;
        white-space: wrap;
    }

    .error_text{
        border-bottom: 1px solid var(--border-color);
    }
    
    .message_text{
        color: var(--bg-color-5);
    }
}

.popup:hover{
    cursor: pointer;
    .errorText{
        font-weight: bold;
    }
    .message_text{
        color: white;
    }
}

