

.hotbar{
    display: flex;
    height: 50px;
    background: var(--bg-color-3);
    align-items: stretch;
    justify-content: space-between;
}

.hotbar_right{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    flex: 0 0 auto;
}

.title{
    flex: 1 1 auto;
    justify-content: start !important;
    p {
        font-size: 30px;
        font-weight: bold;
    }
}

.main{
    display: flex;
    max-height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);

    align-items: stretch;
}

.sidebar{
    min-width: 150px;
    background: var(--bg-color-2);
    position: relative;
}
.debug{
    position: absolute;
    width: 100%;
    bottom: 2px;
    text-align: center;
    gap:4px;
    >*:first-child{
        color: var(--bg-color-5);
        border: none;
        background: none;
        cursor: pointer;
    }
}
.debug.collapsed{
    border: 1px solid var(--bg-color-5);
    background: var(--bg-color-1);
    padding: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-direction: column;
}
.debug:not(.collapsed){
    > *:not(:first-child){
        display: none;
    }
}

.icon{
    display: inline-block;
    width: 40px;
    font-size: 30px;

    color: var(--acc-color-4);


    display: flex;

    pointer-events: none;
}


.item{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 100%;

    align-items: center;

    background: none;
    border: none;

    gap: 5px;
    padding: 2px;
    border-right: 2px solid var(--acc-color-1);
}

.item:hover{
    background: var(--bg-color-1);
    border-right-color: var(--acc-color-2);
}

.item.active{
    background: var(--acc-color-1);
    border-right-color: var(--acc-color-2);
}


ul{
    display: flex;
    flex-direction: column;
}

li{
    width: 100%;
}


.content{
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    background: var(--bg-color-1);
    overflow: hidden;
}

.container.hidden{
    display: none;
}

.container{
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    >*{
        flex: 1 1 auto;
    }
}

.logo{
    background: none;
    border: none;
    height: 100%;
    padding: 0;
}


@media (width <= 500px) {
    .main{
        flex-direction: column;
    }
    .sidebar{
        flex-direction: row;
        height: auto;
    }
}