

.hotbar{
    display: flex;
    height: 50px;
    background: var(--bg-color-3);
    align-items: center;

}

.main{
    display: flex;
    max-height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);

    align-items: stretch;
}

.sidebar{
    min-width: 150px;
    background: var(--bg-color-2);
}

.icon{
    display: inline-block;
    width: 40px;
    font-size: 30px;

    color: var(--acc-color-4);


    display: flex;

    pointer-events: none;
}


.item{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 100%;

    align-items: center;

    background: none;
    border: none;

    gap: 5px;
    padding: 2px;
    border-right: 2px solid var(--acc-color-1);
}

.item:hover{
    background: var(--bg-color-1);
    border-right-color: var(--acc-color-2);
}

.item.active{
    background: var(--acc-color-1);
    border-right-color: var(--acc-color-2);
}

.hotbar_left{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    width: 100%;
}

ul{
    display: flex;
    flex-direction: column;
}

li{
    width: 100%;
}


.content{
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    background: var(--bg-color-1);
    overflow: hidden;
}

.container.hidden{
    display: none;
}

.container{
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    >*{
        flex: 1 1 auto;
    }
}

.logo{
    background: none;
    border: none;
    height: 100%;
    padding: 0;
}

@media (width <= 500px) {
    .main{
        flex-direction: column;
    }
    .sidebar{
        flex-direction: row;
        height: auto;
    }
}