.table{
    border-spacing: 0 5px;

    thead {
        * {
            font-size: smaller;
            font-weight: normal;
            border-right: var(--bg-color-3) 1px solid;
            padding-right: 5px;
            padding-left: 5px;
            white-space: nowrap;
        }

        *:last-child {
            border: none;
        }
    }

    tbody {
        tr {
            border-bottom: var(--bg-color-4) 1px solid;

            td {
                white-space: nowrap;
            }

            img {
                height: 1.5em;
            }

            input {
                color: var(--text-color-light);
            }

            td>* {
                display: flex;
                justify-content: center;
                align-items: center;

            }

            td.table-color {
                padding: 0;

                >p {
                    font-size: 1em;
                }
            }

            td.table-name {
                width: 100%;
            }

            td.table-dataField {
                white-space: nowrap;
                min-width: max-content;
            }

            td.table-target {
                min-width: 60px;
                display: flex;

                div.button2container {
                    width: 100%;
                }

                input {
                    padding: 0px 5px;
                }

                input[type="number"] {
                    width: 100%;
                    background: var(--bg-color-1);
                    border: var(--bg-color-4) 1px solid;
                    border-radius: 3px 0 0 3px;
                    color: var(--text-color-light);
                    border-right: none;
                    cursor: text;
                }

                input[type="button"] {
                    border-radius: 0 3px 3px 0;
                }
            }

            td.table-resettarget {
                >button {
                    padding: 0px 5px;
                }
            }

            span.collapse {
                float: right;
                cursor: pointer;

                padding: 0 5px 0 5px;
            }


        }
    }
}