.container{
    position: relative;
}

.error{
    border-color: red !important;
    .normal_text{
        opacity: 0;
    }
}

.error_text{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    min-width: 0;
    min-height: 0;

    color: red;
}