.fetcher{
    white-space: nowrap;
    font-weight: bold;
    
}
.fetcher_unit{
    font-weight: normal;
    opacity: .75;
    padding-left: 4px;
}

.error{
    color: red !important;
    font-weight: bold;
}