.element{
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    overflow: hidden !important;

    

    >*{
        flex: 1 1 auto;
        max-width: 100% !important;
        max-height: 100% !important;
    }
}