.chart{
    flex: 1 1 auto;
    min-height: 0;
    position: relative;
}

.chart_comment{
    position: absolute;
    bottom: 2px;
    left: 5px;
    
    color: rgba(var(--bg-color-5-rgb),0.5);
}

.chart_popup{
    position: absolute;


    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(var(--bg-color-2-rgb),0.5);
    
    >p{
        font-size: 20px;
        padding:  10px 20px;
        
        background: var(--bg-color-1);
        border: 1px solid var(--bg-color-3);
        border-radius: 10px;
    }
}
.chart_popup.hidden{
    display: none;
}

.panel{
    border-top: 1px solid var(--bg-color-4);

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;

}

.stats_panel,.control_panel{
    flex: 1 1 50%;
    border: 1px solid var(--bg-color-4);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;

    h2{
        border-bottom: 2px solid var(--bg-color-3);
        padding: 5px;
    }
}

.stats_container{
    padding: 5px;
    flex: 1 1 auto;
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-direction: column;
    min-height: 0;
    height: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.stats_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: wrap;
}


.control_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    gap: 5px;
    padding: 10px 5px;

    >div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        >*{
            flex:1 1 auto;
        }
        >p:first-child{
            flex: 0 1 auto;
            width: 20%;
            font-weight: bold;
        }
    }
}

.begin_button{
    border-radius: 0 !important;
}
.begin_button:not(:hover){
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}


.input_container{
    display: flex;
    flex: 0 0 auto !important;
    justify-content: center;
    align-items: stretch;

    *{
        flex: 0 0 auto;
    }
    input{
        width: 120px;
        border-right: none;
    }
    p{
        background: var(--bg-color-1);
        border: 1px solid var(--bg-color-3);
        border-left-color: var(--bg-color-4);
        border-radius: 0 5px 5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
    }
}