.selected_script,.current_state,.macros_gallery_header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--bg-color-4);
}
.macros_gallery_header{
    border: none;
    padding-bottom: 0;

    >p{
        color: var(--bg-color-4);
        font-weight: bold;
    }
}

.macros_gallery_container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    height: 0;
}

.macros_gallery_body{
    flex: 1 1 auto;
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-direction: column;

    min-height: 0;
    height: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    background: var(--bg-color-1);
    
    border: 1px solid var(--bg-color-4);
    border-top: none;
}

.macro{
    text-align: left;
    flex: 0 0 auto;
    padding: 3px 15px;
}

.macro:not(:hover){
    border-color: transparent;
    border-bottom: 1px solid var(--bg-color-3);
}
.macro.hidden{
    display: none;
}
.macro.active{
    border-left: 3px solid var(--acc-color-4);
    border-right: 3px solid var(--acc-color-4);
    background: var(--bg-color-3);
}