.radial{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;

    background: var(--bg-color-1);
    border: 1px solid var(--bg-color-4);

    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
    
    >input{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor:pointer;
    }
    >label{
        font-size: small;
    }
}

.radial:hover{
    border-color: var(--acc-color-3);
    background: var(--bg-color-3) ;
}

.radial:active{
    background: var(--acc-color-2);
}

.radial:has(input[type="radio"]:checked){
    border-color: var(--acc-color-3);
}
.container{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap:0;
    >*{
        flex: 1 1 auto;
    }
}