.container{
    background: var(--bg-color-1);
    border: 1px solid var(--bg-color-5);
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-direction: column;
    gap: 3px;
    *{
        font-size: x-small;
    }
    
    button, select{
        border: 1px solid var(--acc-color-2);
        border-radius: 3px;
        background: none;
        cursor: pointer;
    }
}
.module{
    background: var(--bg-color-3);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: stretch;

    >div{
        flex: 1 1 auto;
    }
    >button{
        flex: 0 0 auto;
    }
}
.input_line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    >*:first-child{
        text-align: left;
        max-width: 35%;
    }
    >*{
        flex: 1 1 auto;
    }
}
