.container{
    display: flex;
    flex-direction: column;
    overflow: hidden;

    flex: 1 1 auto;

    width: 0;
    min-width: 0;
}

.header{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    transition: border-color 0.5s ease-in-out;

    background-color: var(--bg-color-4);
    border-bottom: 3px solid var(--acc-color-2) ;

    h1{
        font-size: x-large;
    }

    button{
        height: 100%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 6px;
        
        background-color: var(--bg-color-2);
        border: 1px solid var(--bg-color-5);

        font-size: 100%;
    }
}

.icon{
    scale: 2;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.unsaved{
    .header{
        border-bottom-color: var(--warn-color-2);
    }
}
.container.error{
    .header{
        border-bottom-color: var(--err-color-2);
    }
    .popupPanel{
        opacity: 1;
    }
}


.file-name{
    flex: 1 1 auto;
}
.code-editor{
    flex: 1 1 auto;
    min-height: 0;
    position: relative;
}



.popupPanel{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    
    width: 300px;

    .closeText{
        text-align: center;
        padding: 3px;
    }
    >*{
        background: var(--err-color-2);
        border: 1px solid var(--err-color-3);
        border-bottom: 3px solid var(--err-color-4);
        border-top: none;
    }
}

.popup{
    position: relative;
    text-align: left;

    flex: 1 1 auto;
    min-width: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    
    
    padding: 5px;

    >*{
        flex: 1 1 auto;
        white-space: wrap;
    }

    .errorText{
        border-bottom: 1px solid var(--err-color-3);
    }
    
    .messageText{
        color: var(--bg-color-5);
    }
}
.popup:hover{
    cursor: pointer;
    .errorText{
        font-weight: bold;
    }
    .messageText{
        color: white;
    }
}

