.container{
    display: flex;
    flex-direction: column;
    overflow: hidden;

    flex: 1 1 auto;

    width: 0;
    min-width: 0;
}

.header{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    background-color: var(--bg-color-4);
    border-bottom: 3px solid var(--acc-color-2) ;

    h1{
        font-size: x-large;
    }

    button{
        height: 100%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 6px;
        
        background-color: var(--bg-color-2);
        border: 1px solid var(--bg-color-5);

        font-size: 100%;
        >*{
            scale: 2;
        }
    }
}

.container.unsaved{
    .header{
        border-bottom-color: var(--warn-color-2);
    }
}

.header.error{
    border-bottom-color: var(--err-color-2);
}

.header.warning{
    border-bottom-color: var(--warn-color-2);
}


.file-name{
    flex: 1 1 auto;
}
.code-editor{
    flex: 1 1 auto;
    min-height: 0;
}