.container{
    flex: 1 1  auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-height: 0;

    overflow: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 3px;
    padding: 5px;

    background-color: var(--acc-color-2);
    border-bottom: 3px solid var(--err-color-3);

    h1{
        flex: 1 1 auto;
        font-size: x-large;
    }

    button{
        height: 100%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        
        border-radius: 6px;

        background-color: var(--acc-color-1);
        border: 1px solid var(--bg-color-5);

        font-size: 100%;
    }
}

.icon{
    scale: 2;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-color-3);
}
.body2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    min-height: 0;

    gap: 15px;
    
}

.header2,.header1{
    padding: 5px 10px;
}
.body2{
    padding: 10px;

} 

.start-button{

}
.stop-button{

}
.pause-button{

}

.header2,.header1{
    flex: 0 0 auto;
    display: flex;

}
.header2{
    
    border-bottom: 1px solid var(--bg-color-5);
}
.selected-script, .selected-id, .running-stats{
    flex: 1 1 auto;
    display: flex;
    justify-content: start;
    align-items: center;    

    gap: 5px;


    p{
        color: var(--bg-color-5);
    }
}
.selected-script-name,.selected-id-name, .started-at{
    color: var(--text-color-light) !important;
    font-weight: bold;
}

.running-stats {
    justify-content: space-between;
}

.selected-id{
    justify-content: end;
}
.selected-id-name{
    min-width: 50px;
    text-align: right;
}


.info-panel{
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    gap: 10px;

    height: 150px;

    >*{
        flex: 0 0 auto;
        width: 50%;
    }
}

.status{
    border-left: 2px solid var(--bg-color-4);
    padding-left: 10px;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.status-img{
    width: 110px;
    height: 110px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 100px;
}

@keyframes spin360 {
    from {
        rotate:0deg
    }

    to {
        rotate:360deg
    }
}
.status-img.spinning{
    animation: spin360 3s infinite linear;
}

.log-ouptut,.script-preview{
    flex: 1 1 auto;
}

.output-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    border-radius: 5px;

    border: 1px solid var(--bg-color-5);
    background-color: var(--bg-color-1);

    overflow: hidden;
}

.oc-header{
    flex: 0 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 5px 0 5px;

    border-bottom: 1px solid var(--bg-color-4);
}

.oc-title{
    
}

.oc-body{
    flex: 1 1  auto;
    min-height: 0;
    overflow: hidden;
    height: 0;
    >*{
        height: 100%;
    }
}


.two-col-table{
    overflow-y: scroll;
    overflow-x: hidden;
}

.tc-table-line{
    display: flex;
    align-items: stretch;
    >*{
        padding: 2px;
    }
}

.left{
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 0 0 auto;
    background-color: var(--bg-color-3);

    padding-right: 5px;

    border-right: 1px solid var(--bg-color-5);
}

.right{
    padding-left: 5px;
    flex: 1 1 auto;
    border-bottom: 1px solid var(--bg-color-3);
}
