.visibility_handle{
    display: flex;
    flex-direction: column;
    width: 30px;

    border: 1px solid var(--bg-color-3);
    background-color: var(--bg-color-4);

    padding: 2px;

    justify-content: center;
    align-items: center;

    border-radius: 0;

    cursor: pointer;

    transition: background 0.5s ease-in-out, width 0.5s ease-in-out;

    p{
        writing-mode: vertical-rl;
        text-orientation: mixed;
        height: 0;
        flex: 1 1 auto;
    }
    .visible_content{
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        border-left: 3px solid var(--bg-color-4);
        height: 40px;
    }
    .hidden_content{
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 200px;
        transition: height 0.5s ease-in-out;
    }
}


.visibility_handle.visible{
    background-color: var(--bg-color-2);
    border-color: var(--bg-color-3);
    width: 20px;

    .hidden_content{
        height: 0;
    }
    .visible_content{
        opacity: 1;
    }
}

.visibility_handle.left:not(.visible){
    border-right: 1px solid var(--bg-color-5);
}

.visibility_handle.right:not(.visible){
    border-left: 1px solid var(--bg-color-5);
}

.visibility_handle:hover{
    border: 1px solid var(--acc-color-4) !important;
    .visible_content{
        border-color: var(--acc-color-2);
    }
}


.visibility_drawer{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    overflow: hidden;
    transition: width 0.5s ease-in-out,
                min-width 0.5s ease-in-out,
                max-width 0.5s ease-in-out;
    min-width: 0;
}